<template>
  <div class="home">
    <img alt="Vue logo"
         src="../assets/logo.png">
    <button @click="handleClickLoad">Загрузить динамическую компоненту асинхронно</button>
    <component :is="componentName"></component>
<!--    <HelloWorld1></HelloWorld1>-->
<!--    <HelloWorld2></HelloWorld2>-->
<!--    <HelloWorld3></HelloWorld3>-->
<!--    <HelloWorld4></HelloWorld4>-->
<!--    <HelloWorld5></HelloWorld5>-->
<!--    <HelloWorld6></HelloWorld6>-->
<!--    <HelloWorld7></HelloWorld7>-->
<!--    <HelloWorld8></HelloWorld8>-->
<!--    <HelloWorld9></HelloWorld9>-->
<!--    <HelloWorld10></HelloWorld10>-->
  </div>
</template>

<script>
// @ is an alias to /src
//
// import HelloWorld1 from '@/components/HelloWorld1.vue';
// import HelloWorld2 from '@/components/HelloWorld2.vue';
// import HelloWorld3 from '@/components/HelloWorld3.vue';
// import HelloWorld4 from '@/components/HelloWorld4.vue';
// import HelloWorld5 from '@/components/HelloWorld5.vue';
// import HelloWorld6 from '@/components/HelloWorld6.vue';
// import HelloWorld7 from '@/components/HelloWorld7.vue';
// import HelloWorld8 from '@/components/HelloWorld8.vue';
// import HelloWorld9 from '@/components/HelloWorld9.vue';
// import HelloWorld10 from '@/components/HelloWorld10.vue';

export default {
  name: 'Home',
  components: {
    HelloWorld: () => import('@/components/HelloWorld'),
    // HelloWorld1,
    // HelloWorld2,
    // HelloWorld3,
    // HelloWorld4,
    // HelloWorld5,
    // HelloWorld6,
    // HelloWorld7,
    // HelloWorld8,
    // HelloWorld9,
    // HelloWorld10,
  },
  data: () => ({
    componentName: null,
  }),
  methods: {
    handleClickLoad() {
      this.componentName = 'HelloWorld';
    },
  },
};
</script>
